<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="/" style="color:white">{{ site.title | default: site.github.repository_name }}</a></h1>
        <p class="view"><a href="/about">about</a> | <a href="https://github.com/gregwoodfill" rel="_blank">github</a> | <a href="https://www.linkedin.com/in/gregwoodfill/" rel="blank">linkedin</a></p>
      </header>
      <section>
